<?xml version="1.0"?>
<!--
 * Navigate Commerce
 *
 * @author       Navigate Commerce
 * @package      Navigate_AllowSvgWebpAvifImage
 * @copyright    Copyright (c) Navigate (https://www.navigatecommerce.com/)
 * @license      https://www.navigatecommerce.com/end-user-license-agreement
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Navigate_Core::core" title="Navigate Menu">
                    <resource id="Navigate_AllowSvgWebpAvifImage::main" title="Allow Svg/Webp/Avif Image" sortOrder="70">
                        <resource id="Navigate_AllowSvgWebpAvifImage::configuration" title="Configurations" translate="title" sortOrder="10" />
                    </resource>
                </resource>   
                <resource id="Magento_Backend::stores">
                     <resource id="Magento_Backend::stores_settings">
                         <resource id="Magento_Config::config">
                            <resource id="Navigate_Core::config" title="Navigate Extension Settings" translate="title" sortOrder="100">
                                <resource id="Navigate_AllowSvgWebpAvifImage::config_allowsvgwebpavifimage" title="Allow Svg/Webp/Avif Image" translate="title" sortOrder="50" />
                            </resource>
                         </resource>
                     </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>