<?xml version="1.0"?>
<!--
 Navigate Commerce

 @author        Navigate Commerce
 @package       Navigate_AllowSvgWebpAvifImage
 @copyright     Copyright (c) Navigate (https://www.navigatecommerce.com/)
 @license       https://www.navigatecommerce.com/end-user-license-agreement
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="navigate_allowsvgwebpavifimage" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
              <class>separator-top</class>
              <label>Allow Svg/Webp/Avif Image</label>
              <tab>navigate</tab>
              <resource>Navigate_AllowSvgWebpAvifImage::config_allowsvgwebpavifimage</resource>
              <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>